h1 {
  font-size: 36px;
  color: Red;
  /*to find names of colors go http://www.colors.commutercreative.com/grid/
  to find RGB colors use colorpicker https://color.adobe.com/   color: rgb(54, 74, 101);*/
}

p {
  font-size: 18px;
}

h3 {
  font-size: 24px;
  color: DarkGreen;
}
